.navigation-section{
    background: white;
    margin: 5rem 0rem;
}
.menu-items{
    list-style: none;
}

.menu-items a{
  padding: 1rem 0rem;
  text-align: center;
  border: 0.5px solid white;
  background:#2b908f;
  color: white;
  text-decoration: none;
  display: inherit;
}

.menu-items a:hover{
  color:#2b908f;
  background: white;
  border: 0.5px solid #2b908f;
}
